body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 70, 70);
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
}

.logo {
    font-size: 32px;
    margin-right: 60px;
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.account {
    color: rgb(70, 70, 70);
}

.searchBar {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 10px;
}

.searchBar button{
    width: 50px;
    height: 48px;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
    border-radius: 15px;
}

.searchInput {
    width: 80%;
    height: 35px;
    padding: 5px;
    border-radius: 15px;
    padding-left: 15px;
    font-size: 18px;
    border: 1px solid rgb(209, 209, 209);
}

.searchInput:focus {
    outline: none;
    border: 1px solid rgb(167, 167, 167);
}

.content {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
    margin-top: 20px;
}

.prod {
    width: 250px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px;
    margin: 8px;
    border: 1px solid rgb(228, 228, 228);
    cursor: pointer;
    background-color: white;
}

.prod:hover {
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.08);
}

.prod img {
    width: 100%;
    height: 200px;
    object-fit:contain;
}

.prod #name {
    max-width: 100%;
    max-height: 35px;
    word-wrap: break-word;
    overflow: hidden;
    font-weight: bold;
}

.prod #desc {
    max-width: 100%;
    max-height: 50px;
    word-wrap: break-word;
    overflow: hidden;
    color: gray;
}

.menu .cat {
    text-align: center;
    margin-left: 20px;
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
}